header {
    width: 70%;
    margin: auto;
}
.headerTopContainer {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.headerTopContainer img {
    height: 40px;
}

.headerTopContainer p {
    color: #4D4D4D;
    font-weight: bold;
    margin-bottom: 0;
}

.headerTopContainer button {
    height: 44px;
    border-radius: 8px;
    border: 1px solid #86B817;
    padding: 0 16px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.headerTopContainer div:nth-child(2) {
    display: flex;
    align-items: center;
}

.headerTopContainer div span {
    margin: 0 5px 0 5px;
}

.headerTopContainer div button:first-child {
    background: #FFF;
    color: #508200;
}

.headerTopContainer div button:first-child:hover {
    background: #f4f8e9;
}

.headerTopContainer div button:last-child {
    background: #86B817;
    color: #FFF;
    padding-left: 31px;
    position: relative;
}

.headerTopContainer div button:last-child:hover {
    background: #81a536;
}

.headerTopContainer div button:last-child::before {
    content: " ";
    height: 16px;
    width: 16px;
    position: absolute;
    left: 10px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSJub25lIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNSA0QzkuNSA0LjggOC44IDUuNSA4IDUuNSA3LjIgNS41IDYuNSA0LjggNi41IDQgNi41IDMuMiA3LjIgMi41IDggMi41IDguOCAyLjUgOS41IDMuMiA5LjUgNFpNMTEgNEMxMSA1LjcgOS43IDcgOCA3IDYuMyA3IDUgNS43IDUgNCA1IDIuMyA2LjMgMSA4IDEgOS43IDEgMTEgMi4zIDExIDRaTTIuOCAxNC44QzIuOCAxMS45IDUuMSA5LjUgOCA5LjUgMTAuOSA5LjUgMTMuMyAxMS45IDEzLjMgMTQuOCAxMy4zIDE1LjIgMTMuNiAxNS41IDE0IDE1LjUgMTQuNCAxNS41IDE0LjggMTUuMiAxNC44IDE0LjggMTQuOCAxMSAxMS43IDggOCA4IDQuMyA4IDEuMyAxMSAxLjMgMTQuOCAxLjMgMTUuMiAxLjYgMTUuNSAyIDE1LjUgMi40IDE1LjUgMi44IDE1LjIgMi44IDE0LjhaIiBmaWxsPSIjRkZGRkZGIi8+PC9zdmc+Cg==');
}

.headerBottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    background: #86B817;
}

.headerBottomContainer::before {
    content: ' ';
    position: absolute;
    height: 52px;
    width: 15%;
    background: #86B817;
    left: 0;
}

.headerBottomContainer::after {
    content: ' ';
    position: absolute;
    height: 52px;
    width: 15%;
    background: #86B817;
    right: 0;
}
